body {
    background-color: #166151; 
    font-family: sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    height: 20vh;
}
   .bio-con{
    display: flex;
    align-items:center ;
    gap: 22px;
    width: 600px;
    background-color: #b72525;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 9px 4px 8px solid black;
   }

   .main-nav{
    display: flex;
    gap: 20px;
    list-style-type: none;
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    
    
   }
  .main-nav li{
    color: aliceblue;
    
}

@media (max-width: 600px) {
    .bio-con{
        flex-direction: column;
    }
    .main-nav{
        flex-direction: column;
       align-items: center;
       padding: 0;
    }
    .main-nav li{
        width: 100%;
        text-align:center;
        padding: 10px 0;
    }
}
/* The Lamp (starts dark) */
.light-off {
    width: 100px;
    height: 100px;
    background-color: #444; /* Dark Grey */
    border-radius: 50%;     /* Makes it a circle */
    border: 3px solid #555;
}

/* The Light (when on) */
.light-on {
    background-color: #f7d96e; /* Yellow */
    box-shadow: 0 0 20px #f7d96e; /* Glow effect */
}